.hero{
    @extend .section;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

    background-color: var(--background-color);
    background-image: linear-gradient(
        0deg, rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)),
                    url(../img/main-page/bgi.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
 

.hero-title{
    text-align: center;
    text-transform: uppercase;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0.06em;

    width: 360px;
    color: var(--thirdly-text-color);

    @media screen and (min-width: $tablet){
        width: 307px;
    }

    @media screen and (min-width: $desktop){
        width: 696px;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        letter-spacing: 0.06em;  
    }
      
}

.button{
    display: inline-flex;
    justify-content: center;
    min-width: 200px;

    background-color: var(--accent-color);
    color: var(--thirdly-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    border: none;
    border-radius: 4px;

    padding: 10px 24px;  
    
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;

    &:hover,
    &:focus{
    background-color: aquamarine;
    color: #2F303A;

}
}